[access]
	inheritFrom = TF-Projects/proj1611
[submit]
	action = inherit
[project]
	description = | Repo Category: default, History Protection: On
[access "refs/*"]
	create = group TF: 516666_BEIO: AEM 65 BEIO Developer Access
	create = group TF: 516666_BEIO: AEM_developer
	create = group TF: 516666_BEIO: Admin Role
	create = group TF: 516666_BEIO: Developer Role
	forgeAuthor = group TF: 516666_BEIO: Admin Role
	forgeAuthor = group TF: 516666_BEIO: Developer Role
	forgeCommitter = group TF: 516666_BEIO: Admin Role
	forgeCommitter = group TF: 516666_BEIO: Developer Role
	push = group TF: 516666_BEIO: AEM 65 BEIO Developer Access
	push = group TF: 516666_BEIO: AEM_developer
	push = +force group TF: 516666_BEIO: Admin Role
	push = +force group TF: 516666_BEIO: Developer Role
	read = group TF: 516666_BEIO: AEM 65 BEIO Developer Access
	read = group TF: 516666_BEIO: AEM_developer
	read = group TF: 516666_BEIO: Admin Role
	read = group TF: 516666_BEIO: Developer Role
	abandon = group TF: 516666_BEIO: Admin Role
	forgeServerAsCommitter = group TF: 516666_BEIO: Admin Role
	owner = group TF: 516666_BEIO: Admin Role
[access "refs/for/refs/*"]
	push = group TF: 516666_BEIO: Admin Role
	push = group TF: 516666_BEIO: Developer Role
	pushMerge = group TF: 516666_BEIO: Admin Role
	pushMerge = group TF: 516666_BEIO: Developer Role
	rebase = group TF: 516666_BEIO: Admin Role
	rebase = group TF: 516666_BEIO: Developer Role
[access "refs/meta/dashboards/516666(proj1611)"]
	read = deny group TF: Project Member of proj1611 (516666)
[access "refs/tags/*"]
	createSignedTag = group TF: 516666_BEIO: AEM 65 BEIO Developer Access
	createSignedTag = group TF: 516666_BEIO: AEM_developer
	createSignedTag = group TF: 516666_BEIO: Admin Role
	createSignedTag = group TF: 516666_BEIO: Developer Role
	createTag = group TF: 516666_BEIO: AEM 65 BEIO Developer Access
	createTag = group TF: 516666_BEIO: AEM_developer
	createTag = group TF: 516666_BEIO: Admin Role
	createTag = group TF: 516666_BEIO: Developer Role
